<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<form>
		<input type="text" name="q" value="{{ query }}" />
		<input type="submit" />
	</form>
	<ul>
		{% for film in films %}
			<li>
				<img width="100" src="http://st.kp.yandex.net/images/film_iphone/iphone360_{{ film.kp_id }}.jpg" style="float:left;" >
				<h5>{{ film.name }}</h5>
				<p>{{ film.description }}</p>
			<div style="clear:both;"></div>
			</li>
		{% endfor %}
	</ul>
</body>
</html>